/* contacto.css */
.contacto {
    position: relative;
    padding: 60px 20px;
    text-align: center;
    top: -70px;

}

.contacto h2 {
    color: #0f0;
    margin-bottom: 20px;
}

.contacto p {
    margin-bottom: 20px;
    font-size: 16px;
}

.contacto form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    gap: 15px;
}

.contacto input,
.contacto textarea {
    padding: 10px;
    border: 1px solid #00ff00;
    background: #000;
    color: white;
    border-radius: 8px;
    resize: none;
}

.contacto button {
    padding: 10px;
    background-color: #00ff00;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contacto button:hover {
    background-color: rgb(156, 6, 243);
    color: white;
}

.contacto input::placeholder,
.contacto textarea::placeholder {
    color: white;
}
.contacto-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 40px;

  color: white;
}

.info-contacto {
    position: relative;
  flex: 1;
  width: 100%;
  background: #726d6d;
  border-radius: 10px;
}
.info-contacto h3 {
    margin-top: 20px;  /* En vez de position/top */
}

.info-contacto p {
    margin-top: 10px;  /* Ajustable según necesidad */
}

.formulario-contacto {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: .5s;
}


input:focus,
textarea:focus {
  position: relative;
  top: -5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: purple;
  transition: all 0.3s ease;
}


button {
  background: purple;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/*Responsivos*/
@media (max-width: 768px) {

    .contacto-container{
     flex-direction:  column;
    padding: 20px;
    gap: 20px;
    }

    .info-contacto{
        width: 100%;
        flex: unset;
    }

    .contacto form {
        width: 100%;
        max-width: 100%;
    }
}