#text-principal-footer {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

#redes-personales {
    position: relative;
    margin-top: -95px;
    margin-right: 30px;
}

.redes {
    display: flex;
    justify-content: center; /* o flex-end si lo quieres a la derecha */
    gap: 40px;
}


.redes a {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    color: #f4fffe;
    vertical-align: middle;
    top: -100px;
}

.redes a:hover{
     transform: scale(1.1);
    filter: brightness(1.3);
}
