/* Estilos generales */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000;
    padding: 20px;
    border-bottom: 1px solid #00ff00;
}

/*#miImagen {
      width: 300px;
      transition: opacity 0.3s ease;
    }
    .oculto {
      display: none;
    }*/

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;

}

.navbar-links li a {
    color: #00ff00;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar-links li a:hover {
    color: #0f0;
    text-shadow: 0 0 10px #0f0;
}

/* Botón de menú (solo visible en móviles) */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle img {
    width: 30px;
    height: auto;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        background: transparent;
        position: absolute;
        top: 90px;
        right: 0;
        width: 100%;
        padding: 10px 0;

    }

    .navbar {
        border-bottom: none !important;
    }

    .navbar-links.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
    .img-menu {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.oculta {
  display: none;
}
}