#skill {
  position: relative;
  padding: 60px 20px;
  /* Ajustado para ser más flexible */
  text-align: center;
  color: #00ff00;
}

.titulo-skill {
  font-size: 36px;
  margin-bottom: 40px;
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00;
}

.skills-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.skills {
  display: flex;
  gap: 60px;
  padding: 0;
  margin: 0;
  list-style: none;
  animation: deslizar 20s linear infinite;

}

.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  opacity: 0.9;
  transition: transform 0.3s;
}

.skills li img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.skills li:hover {
  transform: scale(1.1);
  opacity: 1;
}

/* Animación de desplazamiento horizontal */
@keyframes deslizar {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}


/* Estilos RESPONSIVOS  */

@media (max-width: 768px) {
  #skill {
    padding: 40px 10px;
    /* Reduce espacio para móviles */
  }

  .skills {
    flex-direction: column;
    /* En lugar de horizontal, se apilan */
    gap: 30px;
    animation: none;
    /* Quita animación horizontal en móviles */
  }

  .skills li img {
    width: 80px;
    height: 80px;
  }

}